
<% include partials/header%>

<div class="container">
<h1>Hello there I am your yelp camp landing page</h1>

<h2>Let's start</h2>
<br>
<a href="/campGrounds"> Watch all the camps we have</a>
</div>
<%include partials/footer %>